/* ********************************* PostHeader **************************** */

.post-header{ 
    width: 95%;
    max-width: 500px;
    height: 40px;
    /* background-color: rgb(99, 94, 92); */
    background-color:#4a6ead;
   
}
.post-header img {
    width: 40px;
    height: 40px;
    border-radius: 0%;
}
.user-name {
    font-size: 9px;
    font-weight: 900;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.post-time{
    font-size: 7px;
    font-weight: 100;
}
.talenttype {
    color: rgb(217, 141, 27);
    font-weight: 500;
    font-size: 12px;
}

/* ********************************* PostFooter **************************** */
.videofooter {
    height: 11%;
    background-color: #1f1f1b;
    align-items: center;
    /* justify-content: center; */
}

/* ********************************* talentSelector **************************** */

.selectcontainer {
    max-width:500px;
    /* height: 1000px; */
    /* background-color:black; */

}
.introduction {
    color: #1835b8;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-weight: 600;
}
.challenge-card {
    
}
.card {
    background-color:whitesmoke;
}
.top{
    background-color: orangered;
    height: 40px;
    box-shadow: 0 4px 8px 0 orange, 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.card-header{
   font-size: 13px;
   color: black;
   font-weight: 700;
  
}
.card-body{
    box-shadow: 0 4px 8px 0 orange, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.logo-select {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
    background-color:blueviolet;
    margin-left: 5px;
}
.card-text {
    font-size: 11px; 
    font-weight: 600;
}
.card-body button {
    font-size: 12px;
    margin-top: 17px;
    font-weight: 700;
    height: 30px; 
    width: 100px;
    border-radius: 8px;
    cursor: pointer;
}

/* ********************************* participantdisplayer **************************** */

.participantdisplayer {
    /* min-height:100%; */
    height: 50px;
    min-width: 100%;
    display: flex;
    align-items: center;
    /* border: 2px solid black; */
    /* background-color: #d14f6e; */
    background-color:white;
    overflow-wrap: scroll;
}
.videopost {
    height: 500px;
    min-width: 100%;
    max-width: 500px;
}
.videodisplayer{
   height:89% ;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
 .videodisplayer video {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: fill !important;
}
.p-display{
    max-width: 15%;
    height: 70px;
    background-color:#101326;
}
.ant-select-selector {
    background-color: black
  }

  .chip {
    display: inline-block;
    padding: 0 24px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    line-height: 50px;
    border-radius: 10px;
    background-color: #616d91;
    width: 70%;
    text-align: center;
   
  }
  
  .chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 40px;
    width: 40px;   
    border-radius: 10%;
    margin-top: 0px;
  }
  .showvote {
    width: 30%;
    height: 40px;
    background-color:#616d91;
    margin-left: -23px;
    align-items: end;
    justify-content: end;
    border-radius: 10%;
  }
  .showvote p{
    font-size: 12px;
    margin-bottom: opx;
    color: goldenrod;
  }

  button:hover {
    opacity: 70%;
  }