/* ***************************************** sign in ************************************** */
.login{
    /* margin-top: 0%; */
    max-height: 80%;   
    max-width: 500px;
    width: 100%;
    background:rgb(28, 24, 24);
}
.user_card {
    height: 100%;
    max-width: 500px;
    width: 100%;
    /* margin-top: auto; */
    margin-bottom: auto;
    /* background:rgb(52, 47, 47); */
    background:rgb(1, 47, 79);

    position: relative;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(47, 41, 41, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(53, 37, 37, 0.2), 0 6px 20px 0 rgba(34, 25, 25, 0.19);
    /* border-radius: 5px; */
    display: flex;
    flex-direction: column;
    align-items:start;
    text-align: center;
    justify-content: space-between;
}
.logo-header{
  
   margin-top: 20px;
   width: 100%;

   /* display: flex;
   justify-content: center;
   align-items: center; */
}
.logo-header h1 {
    font-size: 40px;
    font-weight: 600;
    background-image: linear-gradient(to left, #9ed4b9, #085de5);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }; 
.brand_logo_container {
    position: absolute;
    height: 80px;
    width: 80px;
    top: -0px;
    left: 0;
    /* border-radius: 50%; */
    background: #60a3bc;
    /* padding: 10px; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.brand_logo_bottom_container {
    position: absolute;
    height: 80px;
    width: 80px;
    bottom : -0px;  
    left: 0;
    /* border-radius: 50%; */
    background: #60a3bc;
    /* padding: 10px; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.brand_logo {
    height: 70px;   
    width: 70px;          
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
    object-fit: cover;
}
.form_container {
    width: 100%;
}
.form_container form {
    /* padding: 20px;
    margin: 20px; */
    width: 100%;
    max-width: 500px;
}
.login_btn {
    width: 100%;
    background: #c0392b !important;
    color: white !important;
  
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 7px;
    width: 100%;
}
.input-group {
    width: 70%;
}
.input-group-text {
    background: #c0392b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
    /* font-size: 24px; */
}
.links {
    width: 100%;
}
.input_user,
.input_pass {
    box-shadow: none !important;
    outline: 0px !important;
    font-size: 13px;
    height: 40px;
    min-width: 70%;
}
.input_user {
    min-width: 60%;
}
.input-group {
    width: 100%;
}
.custom-checkbox{
    min-width: 100%;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #d62815 !important;
}

/* ************ validation******** */

.shake-email {
    animation: shake 0.5s ease-in-out 0s 2;
    border: 1px solid  #c0392b;
  }
  .shake-password {
    animation: shake 0.5s ease-in-out 0s 2;
    border: 1px solid  #c0392b;
  }

  @keyframes shake {
    0% { margin-left: 0rem; }
    25% { margin-left: -0.5rem; }
    75% { margin-left: 0.5rem; }
    100% { margin-left: 0rem; }
  }